[Unit]
Description=frpdeck FRP Client frpdeck-client-node-frpc
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/mnt/data_partition/work/frpdeck/examples/client-node/runtime/bin/frpc -c /mnt/data_partition/work/frpdeck/examples/client-node/runtime/config/frpc.toml
ExecReload=/mnt/data_partition/work/frpdeck/examples/client-node/runtime/bin/frpc reload -c /mnt/data_partition/work/frpdeck/examples/client-node/runtime/config/frpc.toml
Restart=always
RestartSec=2
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target